Django>=5.2,<5.3
cryptography>=44,<47
dj-database-url>=2.3,<3
gunicorn>=23,<24
PyMySQL>=1.1,<2
psycopg[binary]>=3.2,<4
python-dotenv>=1.0,<2
pycountry>=24.6,<27
uvicorn[standard]>=0.34,<1
whitenoise[brotli]>=6.9,<7
celery[redis]>=5.4,<6
